<p-table selectionMode="single" styleClass="p-datatable-sm" [value]="companies" [(selection)]="company" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-company>
        <tr [pSelectableRow]="company">  
            <td>{{company.id}}</td>
            <td>{{company.name}}</td>
            <td style="text-align: right;">
                <button type="button" label="Visualizar" class="mr-3" pButton icon="pi pi-search" iconPos="right" (click)="viewCompany(company)"></button>
                <button type="button" label="Selecionar" pButton icon="pi pi-check" iconPos="right"  (click)="selectCompany(company)"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" class="mt-3" label="Criar" iconPos="right"  pButton icon="pi pi-plus" (click)="createCompany()"></button>
    </ng-template>
</p-table> 

<ng-template>
</ng-template>

<p-dialog [(visible)]="viewCompanyDialog" *ngIf="company" header="Visualizar" [modal]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false" appendTo="body">
		

                <div class="p-fluid">
                    <div class="field col-12">
                        <label htmlFor="name">Nome</label>
                        <input pInputText class="p-inputtext-sm" id="name" disabled type="text" style="font-weight: 900;" [value]="company.name"/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="businessName">Nome Fantasia</label>
                        <input pInputText class="p-inputtext-sm" id="businessName" disabled type="text" style="font-weight: 900;" [value]="company.businessName"/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="phoneCode">DDD</label>
                        <input pInputText class="p-inputtext-sm" id="phoneCode" type="text" disabled style="font-weight: 900;" [value]="company.phoneCode"/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="phoneNumber">Telefone</label>
                        <input pInputText class="p-inputtext-sm" id="phoneNumber" type="text" disabled style="font-weight: 900;" [value]="company.phoneNumber"/>
                    </div>
    
                    <div *ngIf="company.address">
                        <div class="field col-12">
                            <label htmlFor="street">Rua</label>
                            <input pInputTextarea id="street" disabled style="font-weight: 900;" [value]="company.address.street"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="number">Número</label>
                            <input pInputText class="p-inputtext-sm" id="number" type="text" disabled style="font-weight: 900;" [value]="company.address.number"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="complement">Complemento</label>
                            <input pInputText class="p-inputtext-sm" id="complement" type="text" disabled style="font-weight: 900;" [value]="company.address.complement"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="district">Bairro</label>
                            <input pInputText class="p-inputtext-sm" id="district" type="text" disabled style="font-weight: 900;" [value]="company.address.district"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="city">Cidade</label>
                            <input pInputText class="p-inputtext-sm" id="city" type="text" disabled style="font-weight: 900;" [value]="company.address.city"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="postalCode">CEP</label>
                            <input pInputText class="p-inputtext-sm" id="postalCode" type="text" disabled style="font-weight: 900;" [value]="company.address.postalCode"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="state">Estado</label>
                            <input pInputText class="p-inputtext-sm" id="state" type="text" disabled style="font-weight: 900;" [value]="company.address.state"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="country">Pais</label>
                            <input pInputText class="p-inputtext-sm" id="country" type="text" disabled style="font-weight: 900;" [value]="company.address.country"/>
                        </div>
                    </div>
                
                </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"></button>
    </ng-template>
</p-dialog>


<p-dialog [(visible)]="createCompanyDialog" header="Criar" [modal]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false" appendTo="body">
		

                <div class="p-fluid">
                    <div class="field col-12">
                        <label htmlFor="name">Nome</label>
                        <input pInputText class="p-inputtext-sm" id="name"  type="text" [value]=""/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="businessName">Nome Fantasia</label>
                        <input pInputText class="p-inputtext-sm" id="businessName"  type="text" [value]=""/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="phoneCode">DDD</label>
                        <input pInputText class="p-inputtext-sm" id="phoneCode" type="text" [value]=""/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="phoneNumber">Telefone</label>
                        <input pInputText class="p-inputtext-sm" id="phoneNumber" type="text"  [value]=""/>
                    </div>
    
                    <div >
                        <div class="field col-12">
                                <label htmlFor="street">Rua</label>
                                <input pInputTextarea id="street"  [value]=""/>
                        </div>
                         <div class="field col-12">
                                <label htmlFor="number">Número</label>
                                <input pInputText class="p-inputtext-sm" id="number" type="text" [value]=""/>
                         </div>
                        
                        <div class="field col-12">
                            <label htmlFor="complement">Complemento</label>
                            <input pInputText class="p-inputtext-sm" id="complement" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="district">Bairro</label>
                            <input pInputText class="p-inputtext-sm" id="district" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="city">Cidade</label>
                            <input pInputText class="p-inputtext-sm" id="city" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="postalCode">CEP</label>
                            <input pInputText class="p-inputtext-sm" id="postalCode" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="state">Estado</label>
                            <input pInputText class="p-inputtext-sm" id="state" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="country">Pais</label>
                            <input pInputText class="p-inputtext-sm" id="country" type="text" [value]=""/>
                        </div>
                    </div>
                
                </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"></button>
    </ng-template>
</p-dialog>

<!-- <p-dialog [(visible)]="editCompanyDialog" header="Confirmar" [modal]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
[draggable]="false" [resizable]="false" appendTo="body">
		

                <div class="p-fluid">
                    <div class="field col-12">
                        <label htmlFor="name">Nome</label>
                        <input pInputText class="p-inputtext-sm" id="name"  type="text" [value]="company.name"/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="businessName">Nome Fantasia</label>
                        <input pInputText class="p-inputtext-sm" id="businessName"  type="text" [value]="company.businessName"/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="phoneCode">DDD</label>
                        <input pInputText class="p-inputtext-sm" id="phoneCode" type="text" [value]="company.phoneCode"/>
                    </div>
                    <div class="field col-12">
                        <label htmlFor="phoneNumber">Telefone</label>
                        <input pInputText class="p-inputtext-sm" id="phoneNumber" type="text"  [value]="company.phoneNumber"/>
                    </div>
    
                    <div *ngIf="company.address">
                        <div class="field col-12">
                            <label htmlFor="street">Rua</label>
                            <input pInputTextarea id="street"  [value]="company.address.street"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="number">Número</label>
                            <input pInputText class="p-inputtext-sm" id="number" type="text"  [value]="company.address.number"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="complement">Complemento</label>
                            <input pInputText class="p-inputtext-sm" id="complement" type="text"  [value]="company.address.complement"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="district">Bairro</label>
                            <input pInputText class="p-inputtext-sm" id="district" type="text"  [value]="company.address.district"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="city">Cidade</label>
                            <input pInputText class="p-inputtext-sm" id="city" type="text"  [value]="company.address.city"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="postalCode">CEP</label>
                            <input pInputText class="p-inputtext-sm" id="postalCode" type="text"  [value]="company.address.postalCode"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="state">Estado</label>
                            <input pInputText class="p-inputtext-sm" id="state" type="text"  [value]="company.address.state"/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="country">Pais</label>
                            <input pInputText class="p-inputtext-sm" id="country" type="text"  [value]="company.address.country"/>
                        </div>
                    </div>

                    <div *ngIf="!company.address">
                        <div class="field col-12">
                                <label htmlFor="street">Rua</label>
                                <input pInputTextarea id="street"  [value]=""/>
                        </div>
                         <div class="field col-12">
                                <label htmlFor="number">Número</label>
                                <input pInputText class="p-inputtext-sm" id="number" type="text" [value]=""/>
                         </div>
                        
                        <div class="field col-12">
                            <label htmlFor="complement">Complemento</label>
                            <input pInputText class="p-inputtext-sm" id="complement" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="district">Bairro</label>
                            <input pInputText class="p-inputtext-sm" id="district" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="city">Cidade</label>
                            <input pInputText class="p-inputtext-sm" id="city" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="postalCode">CEP</label>
                            <input pInputText class="p-inputtext-sm" id="postalCode" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="state">Estado</label>
                            <input pInputText class="p-inputtext-sm" id="state" type="text" [value]=""/>
                        </div>
                        <div class="field col-12">
                            <label htmlFor="country">Pais</label>
                            <input pInputText class="p-inputtext-sm" id="country" type="text" [value]=""/>
                        </div>
                    </div>
                
                </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Sim"></button>
    </ng-template>
</p-dialog> -->